
<bs-navbar></bs-navbar>

<div class="container">
  <router-outlet></router-outlet>
  <div class="row">
        <div class="col-lg col-md text-center">
            <h4>About Me</h4>
            <p>My name is Samuel Essim. I’m a freelance Full Stack developer. I build beautiful and usable web Applications using best practices and the latest W3C web standards. I specialize in both front-end and back-end development, with great user experience using modern tools in the build process. I tasked myself to find a passion and that is how i got into Web App Development. My goal is to work fully as a Full Stack developer in a team of amazing people who share the same passion, and work daily to fulfil it . I am ready to start working with you.</p>
            <h4>Contact Me</h4>
            <a href="https://twitter.com/essim_b" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/sam_essim/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/samuel-essim-49518314b/" class="linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/samuelA1" class="github"><i class="fa fa-github"></i></a>
              <a href="mailto:sessim37@gmail.com" class="at"><i class="fa fa-at"></i></a>
        </div>
        <div class="container text-center">
          <div class="copyright">
              &copy; Copyright <strong>Organic Shop</strong>. All Rights Reserved
          </div>
          <div class="credits mt-3">
              Made by Samuel Essim
          </div>
        </div>
  </div>
</div>
  


